@media (pointer: fine) {
  html,
  body,
  #root {
    cursor: none !important;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee-inner {
  animation: marquee 20s linear infinite;
}